* {
  box-sizing: border-box;
}

container {
  display: flex;
  flex-direction: column;
}

h1 {
  padding-top: 32px;
  padding-bottom: 32px;
}

#datetime-picker {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  border-radius: 4px;
  width: 272px;
  background-color: #fff;
  outline: none;
  border: 1px solid #808080;
  transition: border 250ms;
  margin-bottom: 32px;
}

#datatime-picer:hover {
  border: 1px solid #000;
}

#datatime-picer:active {
  border: 1px solid #4e75ff;
  color: #000;
}

button[type='button'] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  transition: background-color 250ms, color 250ms;
}

button[type='button']:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

button[type='button']:focus {
  background-color: #6c8cff;
}

.timer {
  width: 346px;
  height: 72px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.field {
  height: 55px;
}
.value {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  line-height: 150%;
  color: #2e2f42;
  text-transform: uppercase;
}

.flatpickr-calendar {
  background-color: #f5f5f5;
}

.flatpickr-day {
  color: #666;
}

.flatpickr-day:hover {
  background-color: #c1c1c1;
}

.flatpickr-day.today {
  background-color: transparent;
  border-color: #4e75ff;
}

.flatpickr-day.selected {
  background-color: #4e75ff;
  border: #4e75ff;
}

.flatpickr-time input {
  font-size: 16px;
  color: #333;
}

.big-toast {
  font-size: 40px;
  line-height: 120%;
}
